/* Media Queries */
/* mobile screen */
@media screen and (max-width: 428px) {
  .container {
    max-width: 26.75rem;
    margin: 0 auto;
  }
  /* header */
  .nav {
    align-items: center;
  }
  .nav,
  .nav-item,
  .nav-item ul {
    flex-direction: column;
  }
  .nav-item ul {
    gap: 15px;
    margin: 2rem 0;
    text-align: center;
  }
  .nav-item .social-icons {
    padding: 12px 20px;
  }
  /* banner */
  .banner {
    display: flex;
    flex-direction: column-reverse;
  }
  .banner .banner-content .heading-one {
    margin-top: 1.5rem;
  }
  /* gamer section */
  .gamer {
    flex-direction: column;
  }
  .gamer-section {
    margin-top: 8rem;
    margin-bottom: 5rem;
    height: 45rem;
  }
  .gamer-content {
    align-items: center;
  }
  .gamer-content > p {
    max-width: 32.5rem;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
  }
  /* online games */
  .games-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 2rem;
  }
  .online-games .card {
    margin-bottom: 2rem;
  }
  /* play games */
  .play-games {
    flex-direction: column;
  }
  .play-games-content {
    width: 100%;
  }
  .play-games-content h2 {
    font-size: 3rem;
    line-height: 3.75rem;
    font-weight: 700;
  }
  .play-games-content p {
    margin-bottom: 2rem;
    text-align: center;
  }
  .play-games-image {
    width: 100%;
  }
  .play-games-image .play-instant {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    position: absolute;
    bottom: -40px;
    left: -20px;
  }
  /* career */
  .career {
    padding: 5rem 0;
  }
  .career-content {
    width: 100%;
  }
  .career-image {
    display: none;
  }
  /* action games */
  .action-games {
    display: flex;
    justify-content: flex-start;
    gap: 3.56rem;
    flex-wrap: wrap;
  }
}

/* tablet screen */
@media screen and (min-width: 429px) and (max-width: 800px) {
  .container {
    max-width: 48rem;
    margin: 0 auto;
  }
  .btn {
    padding: 1rem 2rem;
    font-size: 0.5rem;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  /* header */
  .nav-item .social-icons {
    display: none;
  }
  /* banner */
  .banner-section {
    width: 100%;
    height: 36rem;
  }
  .banner .banner-content .heading-one {
    font-size: 2rem;
    font-weight: 700;
  }
  .banner .banner-content .heading-two {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .banner-img {
    max-width: 25rem;
    padding-top: 5rem;
    /* max-height: 32rem; */
  }
  /* gamer section */
  .gamer-content .heading-one {
    font-size: 2rem;
  }
  .gamer-content .quatation .purpose {
    font-size: 1rem;
  }
  .gamer-content .quatation .quote {
    font-size: 1rem;
  }
  /* play games */
  .play-games {
    display: flex;
    flex-direction: column;
  }
  .play-games-content p {
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 400;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  /* career */
  .career {
    justify-content: center;
    padding: 5rem 0;
  }
  .career-content {
    width: 80%;
  }
  .career-image {
    display: none;
  }
}
